.gallery__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100dvh;
  max-height: 150dvh;
  overflow: hidden;
  align-items: center;
  gap: 10px;
  width: 80%;
}
.imgGallery {
  width: calc(calc(25%));
}

@media screen and (max-width:1300px) {
  .imgGallery {
    width: calc(calc(33%));
  }
}

@media screen and (max-width:800px) {
  .imgGallery {
    width: calc(calc(50%));
  }
}