.gallery__page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100dvh;
  max-height: 300dvh;
  overflow: hidden;
  align-items: center;
  gap: 10px;
  width: 80%;
}
.gallery__container img {
  width: calc(calc(25%));
}
